HTTP_PORT=8083
TEST_PORT=8081

APP_ENV=dev

DATABASE_URL=postgres://postgres:postgres@localhost:5432/activgform?sslmode=disable
TEST_SOURCE_URL=http://localhost:8081/tests
TEST_SOURCE_PAGE_SIZE=50
TEST_SOURCE_TIMEOUT=15s
TEST_SOURCE_CACHE_TTL=30s

APPSCRIPT_WEBAPP_URL=https://script.google.com/macros/s/AKfycbzo0wJ4PTHhMk9Zr58XVzvbGbxjvCACvJE9d8NHSeafuztAn36rq3VTGleT0PGbjv4MrA/exec
APPSCRIPT_SECRET=dev-local-secret-2026
APPSCRIPT_TIMEOUT=60s

NGROK_AUTHTOKEN=3J5IMage5Weiq1Kodu3FZZt0XkB_6f5RJLmpCwTWT3afiXtjV
NGROK_DOMAIN=shorty-open-google.ngrok-free.dev
PUBLIC_WEBHOOK_URL=https://shorty-open-google.ngrok-free.dev/api/v1/webhook/submission
WEBHOOK_SECRET=
